@import "tailwindcss";

@theme {
  --font-vogue: var(--font-vogue);
  --font-playfairDisplay: var(--font-playfairDisplay);
  --font-bebasNeue: var(--font-bebasNeue);
  --font-roboto: var(--font-roboto);
  --breakpoint-1850px: 115rem;
  --breakpoint-1700px: 106rem;
  --breakpoint-1500px: 93rem;
  --breakpoint-1300px: 81rem;
  --breakpoint-1100px: 69rem;
  --breakpoint-970px: 60rem;
  --breakpoint-750px: 47rem;
  --breakpoint-500px: 31rem;
  --breakpoint-400px: 25em;
  --breakpoint-300px: 19em;
}